{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="px-4 py-5 text-center bg-light jumbotron">
    <h1 class="display-5 fw-bold">{{header}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-3 text-dark">Tingkatkan gaya Anda dengan koleksi terbaru dari Robby Essentials. Temukan pilihan pakaian yang dapat memancarkan kepercayaan diri. Dapatkan penawaran eksklusif dan diskon spesial hanya di Robby Essentials. Jangan sampai terlewatkan!</p>
      <span class="lead fs-1">. . .</span>
    </div>
</div>
  
<div class="img-product t-shirt p-5 mb-5 text-light">
    <div class="container">
        <h2 class="display-2 text-center">T-SHIRTS</h2>
    </div>
</div>

<div class="img-product pants p-5 mb-5 text-light">
    <div class="container">
        <h2 class="display-2 text-center">JEANS</h2>
    </div>
</div>

<div class="img-product accessories p-5 mb-5 text-light">
    <div class="container">
        <h2 class="display-2 text-center">ACCESSORIES</h2>
    </div>
</div>
{% endblock content %}
